<md-content class="md-padding" layout="column" layout-wrap layout-padding>
        <form name="pizzaForm">
            <div layout="column">
                <md-input-container class="md-block">
                    <label>Pizza:</label>
                    <input required type="string" name="name" ng-model="$ctrl.pizza.name" />
                    <div ng-messages="pizzaForm.name.$error" md-auto-hide="false">
                        <div ng-message="required">
                            You've got to put a name!
                        </div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label>Ingredients</label>
                    <md-select ng-model="$ctrl.pizza.ingredients" multiple>
                        <md-option ng-repeat="ingridient in $ctrl.ingridients" value="{{ingridient.name}}">
                            {{ingridient.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div layout="row">
                <div>
                    <div class="md-button md-primary" type="file" il-img-viewer ngf-select ng-required ng-model="$ctrl.picFile" name="file" ngf-max-size="2MB"
                        ngf-resize="{width: 296, height: 296}">
                        Upload Image
                    </div>
                    <label class="md-subhead">{{$ctrl.picFile.$ngfName}}</label>
                    <div>
                        <img id="preview" />
                    </div>
                </div>
            </div>
            <div layout="row">
                <md-button class="md-primary" type="submit" ng-click="$ctrl.savePizza() ">Submit</md-button>
            </div>
        </form>
</md-content>
