{% extends 'pizzashop/base.html' %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            {% if object.image %}
                <img width="100%" src="{{ object.image.url }}"/>
            {% endif %}
        </div>
        <div class="col-md-9">
            <ul>
                {% for ingredient in object.ingredients.all %}
                    <li>{{ ingredient.name }} - {{ ingredient.price }}€</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="{% if form %}col-md-6{% else %}col-md-12{% endif %}">
            <h4>Comentarios</h4>
            <ul>
                {% for comment in object.comments.all %}
                    <li>
                        <b>{{ comment.user.username }} - {{ comment.score }}/5</b><br>
                        <span>{{ comment.text }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% if form %}
            <div class="col-md-6">
                <form method="POST" class="post-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="save btn btn-default">Save</button>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}